@charset "utf-8";
/* CSS Document */


*{padding: 0;margin: 0;}
ui,ol,li{list-style: none}
a{text-decoration: none }
.clear{height: auto;overflow: hidden;zoom:1}
.div1{width: 100%;
    height:80px;
    background: rgba(53,132,239,0.38);
    margin: 0 auto;
    opacity: 1;
    position: fixed;
    top: 0;z-index: 999}
.div1 .daohang1{width: 1300px;height: 90px;margin: 0 auto;}
.div1 .daohang1 img{float: left;margin-top: 10px;}
.div1 .daohang1 ul{float: right;}
.div1 .daohang1 ul li{float: left;margin: 0 30px;line-height: 80px;list-style: none;font-size: 18px;}
.div1 .daohang1 ul span{line-height: 80px; margin-right: 50px}
.div1 .daohang1 ul li a{text-decoration: none;color: #FFFFFF}
.div1 .daohang1 ul li a:hover{font-size: 30px;}
/*导航栏*/
.div2{width: 100%;height: 1080px;;margin: 0 auto}
.div2 .jz{width: 1920px;height: 1080px;margin: 0 auto;}
.div2 .jz .jz1{width: 1920px;height: 1080px;margin: 0 auto;position: absolute;left: 0;right: 0;}
.div2 .jz .box2{width: 1300px;height: 700px;margin: 0 auto;position: absolute;left: 0;right: 0;margin-top:300px;}
.div2 .jz .box2 .jzwz1{width: 500px;height: 120px;margin: 0 auto;position: absolute;top: 50px;left: 440px}
.div2 .jz .box2 .jzwz1 .jzwz2{font-size: 48px;font-weight: 600;text-align: center;color: #FFFFFF;font-family: "方正粗圆简体"}
.div2 .jz .box2 .jzwz1 p{font-size: 30px;font-weight: 600;text-align: center;color: #FFFFFF;margin-top: 15px;letter-spacing: 5px;}
.div2 .jz .box2 .dh1{width: 90px;height: 200px;margin: 0 auto;position: absolute;background: rgba(53,132,239,0.6);top: 400px;left: 650px}
.div2 .jz .box2 .dh1 .dh2{width: 40px;height: 150px;margin-top: 30px;margin-left: 25px}
.div2 .jz .box2 .dh1 .dh2 p{font-size: 40px;text-align: center;color: #FFFFFF}
.div2 .jz .box2 .dh1 .dh2 img{margin-left: 10px;margin-top: 6px;}
/*第一幅图*/

.div3{width: 100%;height: 830px;margin-top: 80px;}
.div3 .jz{width: 1300px;height: 830px;margin: 0 auto}
.div3 .jz .app{width: 1300px;height: 830px;margin: 0 auto;border-radius:60px;background: url("../images/chuan.png")no-repeat;}
.div3 .jz .app .app1{width:417px;height: 830px;float: left;background: url("../images/sjapp.png") no-repeat}
.div3 .jz .app .app2{width: 750px;height: 830px;float: left;margin-left: 50px}
.div3 .jz .app .app2 .p1{font-size:60px;text-align: center;color: #FFFFFF;margin-top: 50px }
.div3 .jz .app .app2 .p2{font-size:36px;text-align: center;color: #FFFFFF;margin-top: 50px;letter-spacing: 3px; }
.div3 .jz .app .app2 .erwm{width: 188px;height: 188px;background: url( "../images/erwm.png") no-repeat;margin:0 auto;margin-top: 50px}
.div3 .jz .app .app2 .p3{font-size:24px;text-align: center;color: #FFFFFF;margin-top: 10px;}
.div3 .jz .app .app2 .bai{width: 240px;height: 90px;background: #FFFFFF;border-radius:33px;margin-top: 150px;float: left}
.div3 .jz .app .app2 .bai p{font-size:36px;text-align: center;margin-top: 20px;cursor: pointer}
.div3 .jz .app .app2 .hei{width: 240px;height: 90px;background:#000000;border-radius:33px;margin-top: 150px;margin-left: 270px;float: left}
.div3 .jz .app .app2 .hei p{font-size:36px;text-align: center;margin-top: 20px;color: #FFFFFF;cursor: pointer}
/*<!-- 手机app-->*/


.box14{width: 100%;height:364px;margin-top: 80px}
.box14 .jz{width: 1920px;height: 364px;margin: 0 auto;}
.box14 .jz .dibu1{width: 1920px;height: 364px;margin: 0 auto;position: absolute;left: 0;right: 0}
.box14 .jz .dibu2{width: 1300px;height: 364px;margin: 0 auto;position: absolute;left: 0;right: 0;}
.box14 .jz .dibu2 .dibuwz1{position: absolute;width: 150px;height: 250px;margin-top: 50px;}
.box14 .jz .dibu2 .dibuwz1 ui li a{font-size: 14px;color:#FFFFFF;line-height: 40px;}
.box14 .jz .dibu2 .dibuwz2{position: absolute;width: 150px;height: 250px;margin-top: 50px;left: 300px}
.box14 .jz .dibu2 .dibuwz2 ui li a{font-size: 14px;color:#FFFFFF;line-height: 40px;}
.box14 .jz .dibu2 .dibuwz3{position: absolute;width: 150px;height: 250px;margin-top: 50px;left: 550px}
.box14 .jz .dibu2 .dibuwz3 ui li a{font-size: 14px;color:#FFFFFF;line-height: 40px;}
.box14 .jz .dibu2 .dibuwz4{position: absolute;width: 800px;height: 30px;margin-top: 50px;left: 300px;margin-top: 325px}
.box14 .jz .dibu2 .dibuwz4 p{font-size: 14px;color:#FFFFFF;}
.box14 .jz .dibu2 .dibutp1{position: absolute;width: 100px;height: 100px;margin-top: 50px;left: 950px;}
.box14 .jz .dibu2 .dibutp2{position: absolute;width: 100px;height: 100px;margin-top: 50px;left: 1200px;}
.box14 .jz .dibu2 .dibuwz5{position: absolute;width: 70px;height: 30px;margin-top: 155px;left: 970px}
.box14 .jz .dibu2 .dibuwz5 a{font-size: 14px;color:#FFFFFF;}
.box14 .jz .dibu2 .dibuwz6{position: absolute;width: 80px;height: 30px;margin-top: 155px;left: 1215px}
.box14 .jz .dibu2 .dibuwz6 a{font-size: 14px;color:#FFFFFF;}
.box14 .jz .dibu2 .dibuwz7{position: absolute;width: 250px;height: 100px;margin-top: 210px;left: 1000px}
.box14 .jz .dibu2 .dibuwz7 ui li p{font-size: 14px;color:#FFFFFF;line-height: 30px;}








