@charset "utf-8";
/* CSS Document */


*{padding: 0;margin: 0;}
ui,ol,li{list-style: none}
a{text-decoration: none }
.clear{height: auto;overflow: hidden;zoom:1}
.div1{width: 100%;
    height:80px;
    background: rgba(53,132,239,0.38);
    margin: 0 auto;
    opacity: 1;
    position: fixed;
    top: 0;z-index: 999}
.div1 .daohang1{width: 1300px;height: 90px;margin: 0 auto;}
.div1 .daohang1 img{float: left;margin-top: 10px;}
.div1 .daohang1 ul{float: right;}
.div1 .daohang1 ul li{float: left;margin: 0 30px;line-height: 80px;list-style: none;font-size: 18px;}
.div1 .daohang1 ul span{line-height: 80px; margin-right: 50px}
.div1 .daohang1 ul li a{text-decoration: none;color: #FFFFFF}
.div1 .daohang1 ul li a:hover{font-size: 30px;}
/*导航栏*/
.div2{width: 100%;height: 1080px;;margin: 0 auto}
.div2 .jz{width: 1920px;height: 1080px;margin: 0 auto;}
.div2 .jz .jz1{width: 1920px;height: 1080px;margin: 0 auto;position: absolute;left: 0;right: 0;}
.div2 .jz .box2{width: 1300px;height: 700px;margin: 0 auto;position: absolute;left: 0;right: 0;margin-top:350px;}
.div2 .jz .box2 .jzwz1{width: 750px;height: 140px;margin: 0 auto;position: absolute;top: 50px;left: 300px;}
.div2 .jz .box2 .jzwz1 .jzwz2{font-size: 58px;font-weight: 600;text-align: center;color: #237ea6;font-family: "方正粗圆简体"}
.div2 .jz .box2 .jzwz1 p{font-size: 30px;font-weight: 600;text-align: center;color: #237ea6;margin-top: 15px;letter-spacing: 5px;}
.div2 .jz .box2 .dh1{width: 90px;height: 280px;margin: 0 auto;position: absolute;background: rgba(53,132,239,0.6);top: 350px;left: 650px}
.div2 .jz .box2 .dh1 .dh2{width: 40px;height: 250px;margin-top: 20px;margin-left: 25px}
.div2 .jz .box2 .dh1 .dh2 p{font-size: 40px;text-align: center;color: #FFFFFF}
.div2 .jz .box2 .dh1 .dh2 img{margin-left: 10px;margin-top: 6px;}
/*第一幅图*/
.div3{width: 100%;height: 100px;margin-top: 50px;}
.div3 .bt2{width: 1300px;height:100px;margin: 0 auto;}
.div3 .bt2 .jdtj{font-size: 34px;text-align: center;font-weight: 500;color: rgba(0,0,0,1.00);font-family: “微软雅黑”}
.div3 .bt2 p{font-size:14px;color:#9c9c9c;text-align: center;margin-top: 5px}

.div4{width: 100%;height: 600px;margin-top: 50px}
.div4 .jz{width: 1300px;;height: 600px; margin: 0 auto;}
.div4 .jz .jz2{width: 1000px;;height: 600px; margin: 0 auto;}
.div4 .jz .jz2 .dz{width: 300px;height: 400px;float: left;background: url("../images/gsdz.png") no-repeat;border-radius:25px;}
.div4 .jz .jz2 .dz .dz1{width: 235px;height: 250px;margin: 0 auto;;margin-top: 100px}
.div4 .jz .jz2 .dz .dz1 .dz2{width: 45;height: 58px;margin: 0 auto;background: url("../images/dz.png") no-repeat center}
.div4 .jz .jz2 .dz .dz1 .p1{font-size: 24px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 15px}
.div4 .jz .jz2 .dz .dz1 .p2{font-size: 14px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 5px}
.div4 .jz .jz2 .dz .dz1 p{font-size: 24px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 5px}

.div4 .jz .jz2 .dh{width: 300px;height: 400px;float: left;background: url("../images/lxwm.png") no-repeat;border-radius:25px;margin-left: 33px;margin-top: 100px}
.div4 .jz .jz2 .dh .dh1{width: 235px;height: 250px;margin: 0 auto;margin-top: 100px}
.div4 .jz .jz2 .dh .dh1 .dh2{width: 45;height: 58px;margin: 0 auto;background: url("../images/dh.png") no-repeat center}
.div4 .jz .jz2 .dh .dh1 .p1{font-size: 24px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 15px}
.div4 .jz .jz2 .dh .dh1 .p2{font-size: 14px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 5px}
.div4 .jz .jz2 .dh .dh1 p{font-size: 24px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 5px}
.div4 .jz .jz2 .yj{width: 300px;height: 400px;float: left;background: url("../images/dzyx.png") no-repeat;border-radius:25px;margin-left: 33px}

.div4 .jz .jz2 .yj .yj1{width: 250px;height: 250px;margin: 0 auto;margin-top: 100px}
.div4 .jz .jz2 .yj .yj1 .yj2{width: 45;height: 58px;margin: 0 auto;background: url("../images/yj.png") no-repeat center}
.div4 .jz .jz2 .yj .yj1 .p1{font-size: 24px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 15px}
.div4 .jz .jz2 .yj .yj1 .p2{font-size: 14px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 5px}
.div4 .jz .jz2 .yj .yj1 p{font-size: 24px;text-align: center;color:#FFFFFF;font-family: “微软雅黑”;margin-top: 5px}
/*<!--联系我们-->*/
.div5{width: 100%;height: 600px;margin-top: 30px}
.div5 .jz{width: 1300px;;height: 600px; margin: 0 auto;}
.div5 .jz .dt{width: 1000px;;height: 556px; margin: 0 auto;}
/*<!-- 地图-->*/

.box14{width: 100%;height:364px;margin-top: 30px}
.box14 .jz{width: 1920px;height: 364px;margin: 0 auto;}
.box14 .jz .dibu1{width: 1920px;height: 364px;margin: 0 auto;position: absolute;left: 0;right: 0}
.box14 .jz .dibu2{width: 1300px;height: 364px;margin: 0 auto;position: absolute;left: 0;right: 0;}
.box14 .jz .dibu2 .dibuwz1{position: absolute;width: 150px;height: 250px;margin-top: 50px;}
.box14 .jz .dibu2 .dibuwz1 ui li a{font-size: 14px;color:#FFFFFF;line-height: 40px;}
.box14 .jz .dibu2 .dibuwz2{position: absolute;width: 150px;height: 250px;margin-top: 50px;left: 300px}
.box14 .jz .dibu2 .dibuwz2 ui li a{font-size: 14px;color:#FFFFFF;line-height: 40px;}
.box14 .jz .dibu2 .dibuwz3{position: absolute;width: 150px;height: 250px;margin-top: 50px;left: 550px}
.box14 .jz .dibu2 .dibuwz3 ui li a{font-size: 14px;color:#FFFFFF;line-height: 40px;}
.box14 .jz .dibu2 .dibuwz4{position: absolute;width: 800px;height: 30px;margin-top: 50px;left: 300px;margin-top: 325px}
.box14 .jz .dibu2 .dibuwz4 p{font-size: 14px;color:#FFFFFF;}
.box14 .jz .dibu2 .dibutp1{position: absolute;width: 100px;height: 100px;margin-top: 50px;left: 950px;}
.box14 .jz .dibu2 .dibutp2{position: absolute;width: 100px;height: 100px;margin-top: 50px;left: 1200px;}
.box14 .jz .dibu2 .dibuwz5{position: absolute;width: 70px;height: 30px;margin-top: 155px;left: 970px}
.box14 .jz .dibu2 .dibuwz5 a{font-size: 14px;color:#FFFFFF;}
.box14 .jz .dibu2 .dibuwz6{position: absolute;width: 80px;height: 30px;margin-top: 155px;left: 1215px}
.box14 .jz .dibu2 .dibuwz6 a{font-size: 14px;color:#FFFFFF;}
.box14 .jz .dibu2 .dibuwz7{position: absolute;width: 250px;height: 100px;margin-top: 210px;left: 1000px}
.box14 .jz .dibu2 .dibuwz7 ui li p{font-size: 14px;color:#FFFFFF;line-height: 30px;}





